<div class="panel panel-primary">
  <div class="panel-heading" data-content="dateTimeToday"></div>
  <div class="panel-body">
    <p>
      <img data-src="iconUrl"/>
      <span data-content-prepend="tempDay">°C Clear</span>
    </p>
    <p>
      <span data-content-prepend="description">&nbsp;~&nbsp;</span>
      High: <span data-content-prepend="tempMax">°C&nbsp;~&nbsp;</span>
      Low: <span data-content-prepend="tempMin">°C</span>
    </p>
  </div>
  <div class="panel-footer">
    <small>
      Day: <span data-content-prepend="tempDay">°C&nbsp;~&nbsp;</span>
      Night: <span data-content-prepend="tempNight">°C&nbsp;~&nbsp;</span>
      Pressure: <span data-content-prepend="pressure">hPa&nbsp;~&nbsp;</span>
      Humidity: <span data-content-prepend="humidity">%</span>
    </small>
  </div>
</div>
