<div class="">
    <h3 data-content-prepend="location">
        <small data-content-append="lon">Lon: </small>
        <small data-content-append="lat">Lat: </small>
        <small data-content-append="country">Country: </small>
        <small data-content-append="population">Population: </small>
    </h3>
</div>
